html, body {
	height: 100%;
}

body {
	min-width: 768px;
}

.inset-area{
    background: #eee;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
}

.floatLeft{
    float: left;
}

.halfWidth{
    width: 49%;
}

.thirdWidth{
    width: 32%;
}

.fullWidth{
    width: 100%;
}