.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block{
    display block;
}

.widthMargin {
    margin: 0 60px 0 60px;
}

.plain-link{
    text-decoration: none;
    color: inherit;
}

#circuitNameTag{
    color: white;
    margin-left: 50px;
}

.navImage{
    height: 40px;
    width: 40px;
}