@(title : String)(content : Html)

<!DOCTYPE html>
<html lang="en">
	
	<head>
	<title>@title</title>
	    	   

		<!-- Individual YUI CSS files -->
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/tabview.css")">
		<!-- Individual YUI JS files -->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/yahoo-dom-event.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/element-min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/tabview-min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/tab.js")"></script>	
 
		<!-- bootstrap -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        
		<!-- jQuery -->
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		
		<!-- CSS -->
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/base.css")">
		
	</head>
	
	<body>
	<div class="mainpage">
	<div class="masthead">
	<div id="logo-img">
		<img id="top-logo" src="@routes.Assets.at("images/genesis-logo64x64.png")"></img>
        <h2 id="title">@title</h3>
        </div>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
            
            @active(t : String) = {
              @if(title equals t){class="active"}
            }
            
              <ul id="navbar-inner-left" class="nav">
                <li @active("Home")><a href="">Home</a></li>
              </ul>
              <ul id="navbar-inner-right" class="nav">
              	<li @active("Help")><a href="/help">Help</a></li>
              	<li @active("Settings")><a href="/settings">Settings</a></li>
                <li @active("About")><a href="/about">About</a></li>
				<li><a href="@routes.Application.logout()">Logout</a></li>
              </ul>
          </div>
        </div><!-- /.navbar -->
      </div>

	<!-- button -->
	<input type="button" value="remove tab" onclick="removeTab();" >
	<input type="button" value="add tab" onclick="addTab();" >

	<!-- begin tabs -->
	<div id="demo" class="yui-navset">
   		<ul class="yui-nav">
        	<li class="selected"><a href="#tab1"><em>Circuit 1</em></a>
    	</ul>            
    	<div class="yui-content">
        	<div> <canvas id="canvas" style="border:solid 1px #000000;"></canvas>
        	</div>
    	</div>
	</div>
	<!-- end tabs -->

       
	<div class="container-fluid">
		<div class="row-fluid">
			<section class="content span10">@content</section>
			<section class="sidebar span2" style="background-color: white;">Sidebar section</section>
		</div>
	</div>
	
	<div class="footer">
	&copy; Team JAMES
	</div>
	
	</div>
	</body>
	
</html>