@(title : String)(head : Html)(body : Html)

<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>@title</title>

		<!-- bootstrap -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/genesis-logo64x64.png")">
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        
		<!-- jQuery -->
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		
		<!-- CSS -->
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/base.css")">
		
		@head
		
	</head>
	
	<body>
		@body
	</body>
	
</html>