@(title: String)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
	<link href=@routes.Assets.at("stylesheets/rickshaw.min.css") rel='stylesheet' />
    <link href=@routes.Assets.at("stylesheets/main.css") rel='stylesheet' />
	<script src=@routes.Assets.at("javascripts/script.js") ></script>
    <script src=@routes.Assets.at("javascripts/lib/jquery-1.9.1.min.js") ></script>
	<script src=@routes.Assets.at("javascripts/lib/jquery-ui-1.9.2.js") ></script>
	<script src=@routes.Assets.at("javascripts/lib/jquery.jsPlumb-1.4.0-all-min.js") ></script>
	<script src=@routes.Assets.at("javascripts/plumbWorkspace.js") ></script>

</head>
<body>
<div class id="plumbArea" style="width: 700px; height: 420px; border: 1px solid black; overflow: scroll; position: relative;">
</div>
<br></br>
<div>
<span>
<code id="ag" class = "product" style="padding: 32px 8px;border:1px solid black;">And gate</code>
<code id="ng" class = "product" style="padding: 32px 12px;border:1px solid black;">Not gate</code>
    <button onclick="logCircuit()">Print circuit to log</button>
    <button onclick="parseJsPlumbTest()">Test JSON</button>
</span>
</div>
</body>
</html>

