@(title: String)(content: Html)

@head = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/home.css")">
    <link href=@routes.Assets.at(
    "stylesheets/rickshaw.min.css") rel='stylesheet' />
    <link href=@routes.Assets.at(
    "stylesheets/main.css") rel='stylesheet' />
    <link href=@routes.Assets.at(
    "stylesheets/jquery-ui-1.10.2.min.css") rel='stylesheet' />
    <script src="@routes.Assets.at("javascripts/proteins.js")" type="text/javascript"></script>
}

@main(title)(head) {
    @modals()
	<div id="application-area" class="container-fluid">
        <div id="alertBox"></div>
		<div id="application-header-row" class="row-fluid">
			<header class="span12">
				<div class="btn-toolbar">
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					   	 Circuit
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">This doesn't do anything (yet)</a>
							</li>
							
							<li class="divider" />
							
							<li>
								<a href="#">New...</a>
							</li>
							<li>
								<a href="#">Open...</a>
							</li>
							<li>
								<a href="#">Save...</a>
							</li>
							<li>
								<a href="#">Import...</a>
							</li>
							<li>
								<a href="#">Export...</a>
							</li>
						</ul>
					</div>
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					   	 Simulation
						</a>
						<ul class="dropdown-menu">
							<li>
								<a onclick="beginSimulation()">Run circuit</a>
							</li>
                            <li>
                                <a onclick="showSetup()">Setup</a>
                            </li>
						</ul>
					</div>
				</div>
			</header>
		</div>
		<div id="application-main-row" class="row-fluid">	
			<div id="plumbArea" class="application-canvas span9">
			</div>
			<div class="application-sidebar span3">
				<div id="standard-gates">
					<button class="btn btn-block" onclick="andGate()">Add And gate</button>
    				<button class="btn btn-block" onclick="notGate()">Add Not gate</button>
				</div>
				<div id="non-standard-gates">
					Not Standard
				</div>
			</div>
		</div>
    </div>
}