@(title: String)(content: Html)

@* Change the "active" class highlighting the button in the navbar of the current page *@
@active(t : String) = {
  @if(title equals t){class=active"}
}

@main(title) {	
	    <div>
			<input type="button" value="add circuit" onclick="addTab();" >
			<input type="button" value="remove circuit" onclick="removeTab();" >
			<input type="button" value="change circuit name" onclick="changeTabName();" >
		</div>

		<div id="tab" class="yui-navset">
    		<ul class="yui-nav">
        		<li class="selected"><a href="#tab1"><em>Tab One Label</em></a></li>
    		</ul>            
    		<div class="yui-content">
        		<div id="tab1"><canvas id="canvas" style="border:solid 1px #000000;"></canvas></div>
    		</div>
		</div>
}