@(form: Form[(String,String)])(implicit flash: Flash)

@head = {
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/login.css")">
}

@base("Welcome to GENESIS")(head) {	
	<div class="container well inset-area">
	
		<div class="row-fluid">
			<div class="span8">
				@helper.form(routes.Application.authenticate) {
					<h2 id="title" class="form-signin-heading">Sign in to GENESIS©</h2>
					<input class="input-block-level" type="email" id="email" name="email" placeholder="Username">
					<input class="input-block-level" type="password" id="password" name="password" placeholder="Password">
					<button id ="loginbutton" class="btn btn-large btn-primary" type="submit">Sign in</button>
                <br><br>
                @form.globalError.map { error =>
                <p class="error">@error.message</p>
                }

                @flash.get("success").map { message =>
                <p class="success">@message</p>
                }
				}
			</div>
            <div class="span4">
                <img src=@routes.Assets.at("images/genesis.png") >
            </div>
		</div>
		
		<footer class="inline-block pull-right">
            <img class="inline" src=@routes.Assets.at("images/teamJamesLogoSmall32x32.png") >&nbsp;&nbsp;&nbsp;<p class="inline" >&copy; Team James</p>
		</footer>   
	</div>
		
}