@(form: Form[(String,String)])(implicit flash: Flash)

@main("Welcome to GENESIS") {
<html>
    <head>
        <title>Genesis</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/genesis-logo64x64.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        <header>
            <a href="@routes.Home.home" id="logo"></a>
        </header>	
		<!-- werkt niet <img src="/public/images/genesis-logo64x64.png" alt="genesis.png"/> -->
        @helper.form(routes.Application.authenticate) {
            <div class="hero-unit">
            <h1>Sign in</h1>
            
            @form.globalError.map { error =>
                <p class="error">
					@error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
					@message
                </p>
            }
            
            <p>
                <input type="inlog" name="inlog" placeholder="Inlog" id="inlog">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password" id="password">
            </p>
            <p>
                <button type="submit" id="loginbutton" class="btn btn-primary btn-large">Login</button>
            </p>
            </div>
        }      
    </body>
</html>
}


