@(title: String)(head_extra: Html)(content: Html)

@* Change the "active" class highlighting the button in the navbar of the current page *@
@active(t : String) = {
	@if(title equals t){class="active"}
}

@head = {
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
	
    @head_extra
}

@base(title)(head) {	
	<div class="mainpage">
		<header>
	        <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav pull-left">
                            <li><img height="40px" width="40px" src="@routes.Assets.at("images/genesis-logo-inv.png")"></li>
                            <li>&nbsp;</li>
                            <li @active("Home")><a href="/">Home</a></li>
                        </ul>
                        <ul class="nav">
                            <li><h4 id="circuitNameTag"></h4></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="http://svanschooten.github.io/genesis/" target="_blank">About</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
	        </div>  
		</header>

		<section class="content widthMargin">@content</section>
		
		<footer class="pull-right inline-block">
            <a class="plain-link" target="_blank" href="http://svanschooten.github.io/genesis/#aboutJames"><img class="inline" src=@routes.Assets.at("images/teamJamesLogoSmall32x32.png") >&nbsp;&nbsp;&nbsp;<p class="inline" >&copy; Team James</p></a>
		</footer>

	</div>
	<script src=@routes.Assets.at("javascripts/script.js") ></script>
}
