@(title: String)(head_extra: Html)(content: Html)

@* Change the "active" class highlighting the button in the navbar of the current page *@
@active(t : String) = {
	@if(title equals t){class="active"}
}

@head = {
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
	
    @head_extra
}

@base(title)(head) {	
	<div class="mainpage">
		<header>
	        <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav pull-left">
                            <li><img src="@routes.Assets.at("images/genesis-logo-h40.png")"></li>
                            <li>&nbsp;</li>
                            <li @active("Home")><a href="/">Home</a></li>
                        </ul>
                        <ul class="nav pull-right">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
	        </div>  
		</header>

		<section class="content">@content</section>
		
		<footer>
			<div class="pull-left inline-block">
				<img class="inline" src=@routes.Assets.at("images/teamJamesLogoSmall32x32.png") >&nbsp;&nbsp;&nbsp;<p class="inline" >&copy; Team James</p>
			</div>
			
			<div class="pull-right">		
				<a href="http://svanschooten.github.io/genesis/" target="_blank">About</a>
			</div>
		</footer>
		
	</div>
	<script src=@routes.Assets.at("javascripts/script.js") ></script>
}
