@(title: String)


<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link href=@routes.Assets.at(
    "stylesheets/rickshaw.min.css") rel='stylesheet' />
    <link href=@routes.Assets.at(
    "stylesheets/main.css") rel='stylesheet' />
    <link href=@routes.Assets.at(
    "stylesheets/jquery-ui-1.10.2.min.css") rel='stylesheet' />
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script src=@routes.Assets.at("javascripts/jquery-1.9.1.min.js") ></script>
    <script src=@routes.Assets.at("javascripts/jquery-ui-1.10.2.min.js") ></script>
    <script src=@routes.Assets.at("javascripts/d3.v3.min.js") ></script>
    <script src=@routes.Assets.at("javascripts/rickshaw.min.js") ></script>
<script type="text/javascript">
$(document).ready(function(){
    jsRoutes.controllers.Application.jsontest().ajax({
        success: function(response) {
            drawGraph($.parseJSON(response))
        },
        error: function(response) { alertError(response)}
    })
});
function drawGraph(series) {
    var palette = new Rickshaw.Color.Palette( { interpolatedStopsCount: series.length } );
    series.forEach(function(obj) {
        obj["color"] = palette.color();
        var meh=false;
        obj.data.forEach(function(ob) {
            if(ob["y"]<0) {
                if(!meh)
                    alert("Warning: negative value(s) in data!");
                meh=true;
                ob["y"]=-ob["y"];
            }
        });
    });

    var width = 800;
    var height = 250;

    //Creating the graph to plot in
    var graph = new Rickshaw.Graph( {
            element: document.querySelector("#chart"),
            width: width,
            height: height,
            renderer: 'line',
            series: series,
    } );

    //Defining the x-axis
    var x_axis = new Rickshaw.Graph.Axis.X( {
        graph: graph,
        orientation: 'top',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    } );

    //Defining the y-axis
    var y_axis = new Rickshaw.Graph.Axis.Y( {
            graph: graph,
            orientation: 'left',
            tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
            element: document.getElementById('y_axis'),
    } );

    //Render the constructed graph
    graph.render();

    //Building the legend
    var legend = new Rickshaw.Graph.Legend( {
            element: document.querySelector('#legend'),
            graph: graph
    } );

    //Setting up the hover detail
    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
        graph: graph,
        formatter: function(series, x, y) {
            var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
            var content = swatch + series.name + '<br>' + "t: " + (x / 1000) + "<br> c: " + y ;  //.toFixed(6) for rounding to decimals
            return content;
        }
    } );

    //Add toggle functionality
    var shelving = new Rickshaw.Graph.Behavior.Series.Toggle( {
        graph: graph,
        legend: legend
    } );

    //Add legend hover highlight
    var highlight = new Rickshaw.Graph.Behavior.Series.Highlight( {
        graph: graph,
        legend: legend
    } );

    //TODO werkt soort van, maar nog niet helemaal lekker, moest de timestamp *1000 doen.
    //Add the range slider for zooming in
    var slider = new Rickshaw.Graph.RangeSlider( {
        graph: graph,
        element: document.getElementById('slider')
    } );

}
</script>
</head>
<body>
<div id="chart_container">
    <div id="y_axis"></div>
    <div id="chart"></div>
    <div id="legend"></div><br>
    <div id="slider"></div>
</div>
</body>
</html>