@(proteinForm: Form[(String,Option[String])])

@import helper._

@main("Here is the result:") {

    @form(action = routes.Projects.formFunction) {

        @select(
            field = proteinForm("name1"), 
            options = options(
                "A" -> "protein A",
                "B" -> "protein B",
                "C" -> "protein C",
                "D" -> "protein D",
                "E" -> "protein E",
                "F" -> "protein F",
                "G" -> "protein G",
                "H" -> "protein H",
                "I" -> "protein I",
                "J" -> "protein J"
            ),
            args = '_label -> "Choose a first protein"
        )
        
        @select(
            field = proteinForm("name2"), 
            options = options(
            	"" -> "None",
                "A" -> "protein A",
                "B" -> "protein B",
                "C" -> "protein C",
                "D" -> "protein D",
                "E" -> "protein E",
                "F" -> "protein F",
                "G" -> "protein G",
                "H" -> "protein H",
                "I" -> "protein I",
                "J" -> "protein J"
            ),
            args = '_label -> "Choose a second protein"
        )

        <p class="buttons">
            <input type="submit" id="submit">
        <p>

    }

    <p class="buttons">
        <a href="@routes.Projects.index">Back to the form</a>
    </p>

}