@(title: String, rk: Rungekuttatest)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link href=@routes.Assets.at(
    "stylesheets/rickshaw.min.css") rel='stylesheet' />
    <link href=@routes.Assets.at(
    "stylesheets/main.css") rel='stylesheet' />
    <link href=@routes.Assets.at(
    "stylesheets/jquery-ui-1.10.2.min.css") rel='stylesheet' />
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script src=@routes.Assets.at("javascripts/lib/jquery-1.9.1.min.js") ></script>
</head>
<body>
<div id="chart_container">
    <div id="y_axis"></div>
    <div id="chart"></div>
    <div id="legend"></div><br>
    <div id="slider"></div>
</div>
<br>
<script src=@routes.Assets.at("javascripts/script.js") ></script>
</body>
</html>