@(title: String, rk: Rungekuttatest)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
    <script src=@routes.Assets.at("javascripts/jquery-1.9.1.min.js") ></script>
    <script src=@routes.Assets.at("javascripts/hsi.min.js") ></script>
</head>
<body>
<div id="canvasContainer">
<canvas id="plotCanvas" width="1000" height="200" style="border: 1px solid black;"></canvas> <br>
</div>
@for(str <- rk.test()) {
    @str <br>
}
<script src=@routes.Assets.at("javascripts/script.js") ></script>
</body>
</html>